@import "../../theme/theme";

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 230px;

  margin: 0;
  padding: 24px 0 0 0;

  background: $secondary-dark;

  font-family: $core-font;
  font-size: 14px;
  font-weight: bold;

  z-index: 9999;
  user-select: none;
  cursor: default;
}

.nav-bar__header {
  display: flex;
  justify-content: center;

  height: 60px;
  width: 100%;

  font-family: $logo-font;
  font-size: 24px;
  color: $on-secondary;
}

.nav-bar__tabs {
  display: flex;
  flex-direction: column;

  width: 100%;

  user-select: none;
}

.nav-bar__tab {
  width: 100%;
  line-height: 20px;
  letter-spacing: 0.015em;
}

.tab-link__wrapper {
  position: relative;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.tab-link {
  position: relative;
  display: flex;
  align-items: center;

  height: 40px;
  width: 100%;
  padding: 0 24px;

  //color: #b3b3b3;
}

.tab-link--active {
  color: $on-secondary;
}

.tab-link--active:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 4px;
  background: $highlight;
}

.tab-link__icon {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}

.tab-link__label {
  margin-left: 16px;
}

.effect__link-fade:not(.tab-link--active) {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  color: #b3b3b3;
}

.effect__link-fade:hover,
.effect__link-fade:focus {
  color: $on-secondary;
}

.nav-bar__list {
  flex: 1;
  color: $on-secondary;
}

.nav-bar__footer {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: $on-secondary;
}

.nav-bar__user-info {
  display: flex;
  margin: 8px 24px 24px 24px;
  padding-top: 10px;
  border-top: 1px solid $secondary-light;
}

.user-tab {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

.user-tab--active {
  color: $highlight;
}

.user-tab__avatar {
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
}

.user-tab__name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
