.outline-button {
  background-color: transparent;
  color: #6f1a07;

  border: solid 2px #6f1a07;
  border-radius: 3px;

  font-weight: bold;
}

.outline-button--disabled {
  opacity: 0.5;
  color: #60656f;

  border: solid 2px #60656f;

  cursor: not-allowed;
}
